.container{
  min-width: 250px;
  max-width: 250px;
  max-height: 105px;

  .filename{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  .done-tick{
    color: lightgreen;
  }

}
.close-button{
  float: right;
  top:-24px;
  right:-24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}
