.main {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  .left {
    .radio-buttons{
      gap: 30px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
    }
  }

  .right{
    width: 100%;
    display: flex;
    justify-content: center;
    .right-asc-desc{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .arrow{
        width: 24px;
        height: 24px;
      }
    }
  }
}

