@import 'src/assets/mixins/base-colors';

.download-button {
  background-color: $primary;
}
.delete-button {
  background-color: $warn;
}
.filename{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
