@import 'src/assets/mixins/base-colors';


.main {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    height: 55px;
    width: 100%;
    padding-left: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

    .texts {
      display: flex;
      flex-direction: column;

      p {
        padding-left: 10px;
        margin: 0;
        max-width: 132px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      padding-right: 15px;

    }

  }


  mat-dialog-content {
    width: 100%;
    height: 100%;
    max-height: none !important;

  }

  .download-button {
    background-color: $primary;
  }

  .delete-button {
    background-color: $warn;
  }

  mat-dialog-actions {
    margin-bottom: 5px;
  }

  .cancel-button {
    background-color: #3f3f3f;
  }

  .filename {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .no-prev-message {
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }

}

.image-container {
  max-width: 90%;
  max-height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  .image-resource {
    object-fit: fill;
    max-width: 80%;
    max-height: 80%;
  }
}

@media only screen and (min-width: 320px) {

  ::ng-deep.mat-dialog-container {
    max-height: none;
  }

}
