<div class="file-item" matRipple (click)="onFileItemClick(file!)">

  <div class="upper">
    <mat-spinner *ngIf="!isThumbnailLoaded && hasThumbnail()" class="image-load-spinner" mode="indeterminate" diameter="70" ></mat-spinner>
    <mat-icon *ngIf="!isThumbnailLoaded" class="icon" color="primary">{{getIconBySuffix(file!.fileType)}}</mat-icon>
    <div class="thumbnail-container">
      <img *ngIf="thumbnail && isThumbnailLoaded" class="file-thumbnail" [src]="thumbnail!" alt="thumbnail">
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="below">
    <p class="filename">{{file!.name}}</p>
  </div>
</div>
