<mat-toolbar color="primary" class="toolbar">
  <button  *ngIf="!isLocalPath()" mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
  <div class="logo"><img id="logo-image" src="../assets/logo/logo-icon.svg" rel="crash"></div>
  <span class="logo-text">OwnCloud</span>
  <span class="example-spacer"></span>

  <div class="dark-toggle">
    <mat-icon>brightness_5</mat-icon>
    <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>
  </div>
  <button matRipple mat-icon-button class="example-icon favorite-icon">
    <a class="links" href="https://github.com/marianpmd/OwnCloud-frontend"><img class="github-image" src="assets/icons/github-brands.svg"
                                                     alt="github"></a>
  </button>
</mat-toolbar>
<div class="app-container mat-app-background">
  <router-outlet></router-outlet>
</div>

