<mat-toolbar color="primary" class="toolbar">
  <button *ngIf="!isLoginPath() && !isPublicPath()" mat-icon-button (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
  <div class="logo"><img id="logo-image" src="../assets/logo/logo-icon.svg" rel="crash"></div>
  <span class="logo-text">FileStorm</span>
  <span class="example-spacer"></span>

  <button (click)="onNotificationClick()"
          *ngIf="!isLoginPath() && !isPublicPath()"
          class="notification"
          mat-button>
    <mat-icon [matBadge]="notificationsLength" matBadgeSize="small" matBadgeColor="warn" color="accent" >notifications</mat-icon>
  </button>


  <button matRipple mat-icon-button class="example-icon favorite-icon">
    <a class="links" href="https://github.com/marianpmd/FileStorm-frontend"><img class="github-image" src="assets/icons/github-brands.svg"
                                                     alt="github"></a>
  </button>
</mat-toolbar>
<div class="app-container mat-app-background">
  <router-outlet></router-outlet>
</div>

