<div class="main">
  <div class="mat-app-background mat-elevation-z8 header">
    <div class="texts">
      <div class="filename-div" mat-dialog-title>{{data.name}}</div>
      <p>Size : {{computeFileSize(data.size)}}</p>
    </div>
    <mat-dialog-actions class="buttons">
      <button mat-mini-fab [mat-dialog-close]="'download'" class="download-button" cdkFocusInitial>
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab [mat-dialog-close]="'delete'" class="delete-button" cdkFocusInitial>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab [mat-dialog-close]="" class="cancel-button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="content">
      <mat-progress-spinner *ngIf="!isLoaded && isMedia" [mode]="progressMode"></mat-progress-spinner>
      <p class="no-prev-message" *ngIf="!isMedia || data.isMedia === undefined">No preview available.</p>
      <pdf-viewer *ngIf="isLoaded && isMedia && isPdf(data.fileType)"
                  [src]="source"
                  [render-text]="true"
                  [fit-to-page]="true"
                  [show-borders]="true"
                  style="width: 100vw; height: 100vh;"

      ></pdf-viewer>

      <div class="image-container"
           *ngIf="isLoaded && isMedia && isImage(data.fileType)">
        <img
          [src]="sourceAsBlob(source)"
          class="image-resource mat-elevation-z8"
          alt="image">
      </div>


      <div class="video-container" *ngIf=" isLoaded && isMedia && isVideo(data.fileType)">
        <video *ngIf="sourceUrl" id="video"
               [src]="sourceUrl"
               autoplay
               controls>
        </video>
      </div>

    </div>
  </mat-dialog-content>
</div>
