<div class="main">
  <div class="mat-app-background mat-elevation-z8 header">
    <div class="texts">
      <div class="filename-div" mat-dialog-title>{{data.name}}</div>
      <p>Size : {{computeFileSize(data.size)}}</p>
    </div>
    <mat-dialog-actions class="buttons">
      <button mat-mini-fab [matMenuTriggerFor]="privateMenu" *ngIf="data.isPublic"  class="public-button actions" cdkFocusInitial>
        <mat-icon>public</mat-icon>
      </button>
      <button mat-mini-fab [matMenuTriggerFor]="publicMenu" *ngIf="!data.isPublic" class="make-public-button actions" cdkFocusInitial>
        <mat-icon>lock</mat-icon>
      </button>

      <mat-menu #publicMenu>
        <div style="padding: 8px" class="mat-app-background">This resource is private.</div>
        <button (click)="makePublic(data)" mat-menu-item>Make Public</button>
      </mat-menu>
      <mat-menu #privateMenu>
        <div style="padding: 8px" class="mat-app-background">This resource is public.</div>
        <button class="copy-link" mat-menu-item [cdkCopyToClipboard]="generatedLink">Copy the link</button>
        <button (click)="makePrivate(data)" mat-menu-item>Make Private</button>
      </mat-menu>

      <button mat-mini-fab (click)="downloadFile()" [mat-dialog-close]="" class="download-button actions" cdkFocusInitial>
        <mat-icon>download</mat-icon>
      </button>
      <button mat-mini-fab (click)="deleteFile()" [mat-dialog-close]="" class="delete-button actions" cdkFocusInitial>
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-mini-fab [mat-dialog-close]="" class="cancel-button actions">
        <mat-icon>close</mat-icon>
      </button>
    </mat-dialog-actions>
  </div>
  <mat-dialog-content class="mat-typography">
    <div class="content">
      <mat-progress-spinner *ngIf="!isLoaded && isMedia" [mode]="progressMode"></mat-progress-spinner>
      <p class="no-prev-message" *ngIf="!isMedia || data.isMedia === undefined">No preview available.</p>
      <pdf-viewer *ngIf="isLoaded && isMedia && isPdf(data.fileType)"
                  [src]="source"
                  [render-text]="true"
                  [fit-to-page]="true"
                  [show-borders]="true"


      ></pdf-viewer>
<!--      style="width: 100vw; height: 100vh;"-->
      <div class="image-container"
           *ngIf="isLoaded && isMedia && isImage(data.fileType)">
        <img
          [src]="sourceAsBlob(source)"
          class="image-resource mat-elevation-z8"
          alt="image">
      </div>


      <div class="video-container" *ngIf=" isLoaded && isMedia && isVideo(data.fileType)">
        <video *ngIf="sourceUrl" id="video"
               [src]="sourceUrl"
               autoplay
               controls>
        </video>
      </div>

    </div>
  </mat-dialog-content>
</div>
