<button mat-icon-button class="close-button" [mat-dialog-close]="true">
  <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<div mat-card-content class="container">
  <ng-container *ngFor="let file of allFiles | keyvalue">
    <p class="filename">{{file.key.name}}</p>
    <mat-progress-bar [mode]=progressBarMode *ngIf="isUploading(file!.value)"
      [value]="file.value.progress" ></mat-progress-bar>
    <mat-icon class="done-tick"
              *ngIf="isDone(file!.value)">done</mat-icon>
    <mat-divider></mat-divider>

  </ng-container>

</div>
