@import "../../assets/mixins/base-colors";


.main {
  margin-top: 40px;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;

  .infinite-container {
    overflow: auto;
  }
}

.nav-list {
  height: 90%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.example-spacer {
  flex: 1 1 auto;
}

.drop-area {
  ::ng-deep.ngx-file-drop__drop-zone {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  ::ng-deep.ngx-file-drop__content {
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

.files-container {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  display: grid;
  grid-row-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  justify-items: center;

  .file-item {
    max-width: 140px;
    min-width: 140px;
    border: 1px solid $primary;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    .icon {
      transform: scale(1.5);
      padding: 30px;
    }

    p.filename {
      max-width: 132px;
      color: $primary;
      font-weight: 550;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 6px 0 6px 6px;
    }

    mat-divider {
      width: 100%;
      background-color: $primary;
    }
  }

  :hover.file-item {
    //background-color: rgba(0, 0, 0, 0.04);
  }
}

mat-list-item.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  mat-icon {
    transform: scale(1.5);
    width: auto;
  }
}

.no-files-container {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .no-files-message {
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
  }
}
.no-button{
  background-color: red;
}
mat-list-item{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-list-item.logout-container{
  display: flex;
  justify-content: center;
  align-items: center;
  .mat-icon.logout-icon{
    transform: rotate(180deg);
  }
}

.filtering-section {
  margin-top: 7px;
  margin-bottom: -10px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
