@import "../../assets/mixins/base-colors";


.main {
  margin-top: 40px;
  width: 100%;
}

.container {
  width: 100%;
  height: 100%;

  .infinite-container {
    overflow: auto;
  }

  .sidenav {
  }
}

.nav-list {
  height: 98%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.example-spacer {
  flex: 1 1 auto;
}

.drop-area {
  ::ng-deep.ngx-file-drop__drop-zone {
    border: 0;
    border-radius: 0;
    height: 100%;
    width: 100%;
    margin: 0;
  }

  ::ng-deep.ngx-file-drop__content {
    color: inherit;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
  }

}

.files-container {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  display: grid;
  grid-row-gap: 12px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  justify-items: center;

  .file-item {
    max-width: 140px;
    min-width: 140px;
    border: 1px solid $primary;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    .icon {
      transform: scale(1.5);
      padding: 30px;
    }

    p.filename {
      max-width: 132px;
      color: $primary;
      font-weight: 600;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 6px 0 6px 6px;
    }

    mat-divider {
      width: 100%;
      background-color: $primary;
    }
  }

  :hover.file-item {
    //background-color: rgba(0, 0, 0, 0.04);
  }
}

mat-list-item.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  mat-icon {
    transform: scale(1.5);
    width: auto;
  }
}

.no-files-container {
  position: absolute;
  z-index: -1;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;

  .no-files-message {
    padding: 20px;
    font-weight: 400;
    font-size: 18px;
  }
}

.no-button {
  background-color: red;
}

mat-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-list-item.logout-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .mat-icon.logout-icon {
    transform: rotate(180deg);
  }
}

.hide {
  display: none;
}

.filtering-section {
  margin-top: 14px;
  margin-bottom: -10px;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-input {
    max-width: 230px;
    min-width: 230px;
    margin-right: 5px;
  }

  .tune-button {
    margin-bottom: 15px;
  }

  mat-form-field {
    width: 66%;
  }
}

.isLoading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.autocomplete-spinner {
  width: auto;
}

.scroll-top {
  bottom: 0;
  cursor: pointer;
  margin: 0 8px 12px 0;
  position: fixed;
  right: 0;
  opacity: 0;
}

.show-scrollTop {
  opacity: 1 !important;
  transition: all 0.2s ease-in-out;
}

.directory-section {
  width: 100%;
  max-width: 90%;
  align-self: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;

  .directory-div {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;

    mat-icon {
      transform: scale(1.6);
      color: $accent;
    }

    .dir-item{
      max-width: 140px;
      min-width: 111px;

      min-height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .dirname{
      max-width: 132px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 6px 0 6px 6px;
    }
  }
}
