<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
    <mat-nav-list class="nav-list">
      <mat-list-item [disableRipple]=true>{{userEmail}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [disableRipple]=true matRipple class="add-button" [mat-menu-trigger-for]="menu" > <!--(click)="uploaderAction(uploader)"-->
        <mat-menu #menu xPosition="before">
          <button (click)="uploaderAction(uploader)" mat-menu-item>
            <mat-icon>upload_file</mat-icon>File
          </button>
          <button mat-menu-item>
            <mat-icon>create_new_folder</mat-icon>Directory
          </button>
        </mat-menu>
        <mat-icon color="accent">add_circle</mat-icon>
        <input
          hidden
          type="file"
          multiple
          #uploader
          (change)="onUploadClick($event)"
        />
      </mat-list-item>

      <span class="example-spacer"></span>

      <mat-list-item>Available Space</mat-list-item>

      <mat-list-item>
        <mat-progress-bar color="accent" [value]="58.9"></mat-progress-bar>
      </mat-list-item>

      <mat-list-item style="font-size:10px">58.9GB of 100GB used</mat-list-item>
      <mat-list-item class="logout-container" (click)="onLogoutClick()">
        <mat-icon class="logout-icon">logout</mat-icon>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    infinite-scroll
    class="infinite-container"
    [scrollWindow]="false"
    [infiniteScrollDistance]="1"
    (scrolled)="onWindowScroll($event)">

    <div class="no-files-container" *ngIf="loadedFiles.length === 0 || !loadedFiles">
      <p *ngIf="loadedFiles.length === 0 && isRequestMade" class="no-files-message">No files to show.
        To upload a file either drag and drop it here, or us the '+' sign in the left side menu.</p>
    </div>

    <ngx-file-drop class="drop-area"
                   (onFileDrop)="onFileDrop($event)"
                   [multiple]=true>
      <ng-template ngx-file-drop-content-tmp
                   let-openFileSelector="openFileSelector">
        <div [class.show]="isLoading" class="filtering-section">

          <mat-form-field>
            <input #auto autofocus class="search-bar" matInput placeholder="Search" aria-label="State"
                   [formControl]="searchFileControl">
          </mat-form-field>

          <button class="tune-button" mat-mini-fab (click)="openFilters()">
            <mat-icon>tune</mat-icon>
          </button>

        </div>

        <div class="isLoading" *ngIf="isLoading">
          <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>


        <section class="files-container" *ngIf="!isLoading">

          <div class="file-item" matRipple (click)="onFileItemClick(file)" *ngFor="let file of loadedFiles">
            <mat-icon class="icon" color="primary">{{getIconBySuffix(file.fileType)}}</mat-icon>
            <mat-divider></mat-divider>
            <p class="filename">{{file.name}}</p>
          </div>

          <div class="scroll-top" [ngClass]="{ 'show-scrollTop': windowScrolled }">
            <button mat-mini-fab (click)="scrollToTop()">
              <mat-icon>expand_less</mat-icon>
            </button>
          </div>

        </section>
      </ng-template>
    </ngx-file-drop>
  </mat-sidenav-content>
</mat-sidenav-container>


