<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" #snav [mode]="mobileQuery.matches ? 'over' : 'side'">
    <mat-nav-list class="nav-list">
      <mat-list-item *ngIf="loggedUser" [disableRipple]=true>{{loggedUser.email}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item [disableRipple]=true matRipple class="add-button" [mat-menu-trigger-for]="menu">
        <mat-menu #menu xPosition="before">
          <button (click)="uploaderAction(uploader)" mat-menu-item>
            <mat-icon>upload_file</mat-icon>
            File
          </button>
          <button mat-menu-item (click)="addDirectory()">
            <mat-icon>create_new_folder</mat-icon>
            Directory
          </button>
        </mat-menu>
        <mat-icon color="accent">add_circle</mat-icon>
        <input
          hidden
          type="file"
          multiple
          #uploader
          (change)="onUploadClick($event)"
        />
      </mat-list-item>

      <mat-list-item
        (click)="onUserBoardClick()"
        class="user-button-item" *ngIf="isAdminPath()">
        <mat-icon>supervisor_account</mat-icon>
          <div class="mat-typography">User Board</div>
      </mat-list-item>

      <mat-list-item
        (click)="onAdminClick()"
        class="admin-button-item" *ngIf="loggedUser && loggedUser.role === 'admin' && !isAdminPath()">
        <mat-icon>supervisor_account</mat-icon>
        <div class="mat-typography">Admin Board</div>
      </mat-list-item>

      <span class="example-spacer"></span>

      <mat-list-item (click)="onRequestStorageClick()"
        class="request-storage-button">
        Request Storage
      </mat-list-item>

      <div class="dark-toggle">
        <mat-icon>brightness_5</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl"></mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
      </div>

      <mat-list-item>Available Space</mat-list-item>

      <mat-list-item *ngIf="loggedUser && loggedUser.assignedSpace!==0">
        <mat-progress-bar color="accent" [value]="computeUsagePercentage(loggedUser)"></mat-progress-bar>
      </mat-list-item>

      <mat-list-item *ngIf="loggedUser && loggedUser.assignedSpace!==0">
        <p class="user-space-text">{{computeSpaceSize(loggedUser.occupiedSpace)}}
          of {{computeSpaceSize(loggedUser.assignedSpace)}}</p>
      </mat-list-item>

      <mat-list-item class="user-space-text" *ngIf="loggedUser.assignedSpace == 0 || loggedUser.assignedSpace == loggedUser.occupiedSpace">
        No storage assigned
      </mat-list-item>

      <mat-list-item class="logout-container" (click)="onLogoutClick()">
        <mat-icon class="logout-icon">logout</mat-icon>
      </mat-list-item>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content *ngIf="isAdminPath()">
    <app-admin-dashboard></app-admin-dashboard>
  </mat-sidenav-content>
  <mat-sidenav-content *ngIf="!isAdminPath()"
    infinite-scroll
    class="infinite-container"
    [scrollWindow]="false"
    [infiniteScrollDistance]="2"
    (scrolled)="onWindowScroll($event)">

    <div class="no-files-container" *ngIf="files.length === 0 || !files">
      <p *ngIf="files.length === 0 && isRequestMade" class="no-files-message">No files to show.
        To upload a file either drag and drop it here, or us the '+' sign in the left side menu.</p>
    </div>

    <ngx-file-drop class="drop-area"
                   (onFileDrop)="onFileDrop($event)"
                   [multiple]=true>
      <ng-template ngx-file-drop-content-tmp
                   #mainContent
                   let-openFileSelector="openFileSelector">
        <div [class.show]="isLoading" class="filtering-section">

          <mat-form-field>
            <input #auto class="search-bar" matInput placeholder="Search" aria-label="State"
                   [formControl]="searchFileControl">
          </mat-form-field>

          <button class="tune-button" mat-mini-fab (click)="openFilters()">
            <mat-icon>tune</mat-icon>
          </button>

        </div>

        <section class="directory-section mat-elevation-z10" *ngIf="!isLoading">
          <div class="directory-div">
            <p *ngIf="directories.length === 0 && !prevDir"
               style="width: 100%; text-align:center">No directories created.</p>
            <div matRipple class="dir-item" *ngIf="prevDir" (click)="onParentClick()">
              <mat-icon mat-list-icon>drive_file_move_rtl</mat-icon>
              <div mat-line>{{prevDir.name}}</div>
            </div>

            <div class="dir-item" *ngFor="let dir of directories">
              <button mat-button (click)="onDirDeleteClick(dir)" class="dir-delete-button">
                <mat-icon class="delete-button-icon">cancel</mat-icon>
              </button>
              <button mat-button (click)="onDirClick(dir)">
                <mat-icon mat-list-icon>folder</mat-icon>
                <div mat-line>{{dir.name}}</div>
              </button>
            </div>
          </div>
        </section>

        <div class="isLoading" *ngIf="isLoading">
          <mat-progress-spinner class="spinner" color="primary" mode="indeterminate"></mat-progress-spinner>
        </div>


        <section class="files-container" *ngIf="!isLoading">

          <div class="file-item" matRipple (click)="onFileItemClick(file)" *ngFor="let file of files">
            <mat-icon class="icon" color="primary">{{getIconBySuffix(file.fileType)}}</mat-icon>
            <mat-divider></mat-divider>
            <p class="filename">{{file.name}}</p>
          </div>

          <div class="scroll-top show-scrollTop">
            <button mat-mini-fab (click)="scrollToTop()">
              <mat-icon>expand_less</mat-icon>
            </button>
          </div>

        </section>
      </ng-template>
    </ngx-file-drop>
  </mat-sidenav-content>
</mat-sidenav-container>


